# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build outputs
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x86/
x64/

# Test outputs
TestResults/
[Tt]est[Rr]esult*/
*.trx

# Restored NuGet packages
packages/

# Local archives / working material
Release_archive/
Tutorials_workbooks/

# Local source snapshots
*.zip

# Temporary files
*.tmp
*.bak
~*

# temporal help documentation builds
BESHStatNG_Help_MkDocs/.site
BESHStatNG_Help_MkDocs/process.txt

# other files
sign_xll2.bat
release_process.txt
